<div class="row mt-5">
    <div class="col text-center">
        <img src="img/ramadhan.jpg" class="img-thumbnail rounded" alt="Muhammad Ramadhan" width="150" />
        <h1 class="display-5 fw-semibold">Muhammad Ramadhan</h1>
        <p class="lead">Fresh Graduate | IT Enthusiast</p>
    </div>
</div>
